@import '../../../styles.scss';

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #131315;
  width: 100%;
  border-radius: 100px;
  color: var(--light-gray);
  font-size: 26px;
  font-weight: 400;
  padding: 31px 70px;
  margin-bottom: 28px;

  @media (max-width: 768px) {
    font-size: 16px;
    padding-inline: 26px;
  }

  a {
    text-decoration: none;
    font-size: 20px;
    font-weight: normal;
    color: mat-color($purple-palette, 500);

    &:hover {
      color: mat-color($purple-palette, 300);
    }

    @media (max-width: 768px) {
      font-size: 16px;
    }

    svg {
      width: 24px;
      /* Impostazione della larghezza */
      height: 24px;
      /* Impostazione dell'altezza */
      fill: mat-color($purple-palette, 500);
      /* Colore iniziale */
    }

  }

  a:hover svg {
    fill: mat-color($purple-palette, 300);

  }

  a.active {
    color: white;
  }

  .left-section {
    display: flex;
    gap: 42px;
  }

  .right-section {
    display: flex;
    gap: 1rem;

  }
}

.copywright {
  margin-left: 70px;
  font-size: 16px;

  @media (max-width: 768px) {
    margin-left: 26px;
  }
}
