<mat-toolbar color="transparent" class="navbar">
  <div class="left-section">
    <a routerLink="/home" routerLinkActive="active">About me</a>
    <!-- <a  class="nav-light-purple" routerLinkActive="active" routerLink="/education">Education</a> -->
    <a  class="nav-purple"  routerLink="/experience"  routerLinkActive="active">Experience</a>
  </div>
  <!-- <div class="right-section">
    <a href="https://github.com" target="_blank" aria-label="GitHub">
      <mat-icon>code</mat-icon>
    </a>
    <a href="https://linkedin.com" target="_blank" aria-label="LinkedIn">
      <mat-icon>person</mat-icon>
    </a>
    <a href="mailto:email@example.com" aria-label="Email">
      <mat-icon>email</mat-icon>
    </a>
  </div> -->
</mat-toolbar>
