
@import '../../../styles.scss';

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #131315;
  // color: mat-color($color-palette, 100);
  width: fit-content;
  border-radius: 30px;

  a {
    text-decoration: none;
    font-size: 20px;
    font-weight: normal;
    color: mat-color($purple-palette, 500);

    &:hover {
      color: mat-color($purple-palette, 300);
    }
    @media (max-width: 768px) {
      font-size: 16px;
    }

  }

  a.active {
    color: white;
  }

  .left-section {
    display: flex;
    gap: 42px;
  }

  .right-section {
    display: flex;
    gap: 1rem;

    mat-icon {
      font-size: 24px;
      color: white;

      &:hover {
        color: #90caf9;
      }
    }
  }
}
