<div class="skill-card">
  <h3>{{ title }}</h3>
  <ul>
    <li *ngFor="let item of items">
      <span class="skill-visual" aria-hidden="true">
        <img *ngIf="item.icon; else fallbackIcon" [src]="item.icon" [alt]="item.label" class="icon" />
        <ng-template #fallbackIcon>
          <span class="icon-fallback">
            {{ getBadgeLabel(item.label) }}
          </span>
        </ng-template>
      </span>
      <span class="skill-label">{{ item.label }}</span>
    </li>
  </ul>
</div>
