// Variabili SCSS per componenti classici
$background: #0C0C0D;
$background-lighter: #131313;
$gray-more-lighter: #272727;
$light-gray: #6F6F6F;
$very-light-gray: #C8C8C8;
$green: #5FB9B0;
$purple: #B292FF;
$purple-light: #C4ACFF;
$purple-very-light: #D7C5FF;
$text-white: #111111;
