<section class="home-container">
  <section class="hero row">
    <div class="content col-sm-6">
      <div class="profile-photo d-sm-none">
        <img src="./assets/img/photo.jpg" alt="Federica" />
      </div>

      <h1>Hi, I'm Federica</h1>
      <p>
        During these <b>4 years</b> of experience in fintech as
        <b>Front-End Software Engineer</b> I specialize in creating user-focused
        applications and thrive in cross-team collaboration to define and
        develop impactful features. I'm passionate about growth, innovation, and
        delivering high-quality solutions.
      </p>

      <div class="cta-container">
        <button mat-raised-button color="primary" class="cta-button" (click)="downloadPDF()">
          Download CV
        </button>

        <!-- <a mat-link class="cta-button secondary" routerLink="/experience">
          See experiences
        </a> -->
      </div>
    </div>

    <div class="profile-photo col-sm-4 d-none d-sm-block">
      <img src="./assets/img/photo.jpg" alt="Federica" />
    </div>
  </section>

  <section>
    <carousel></carousel>
  </section>

  <section class="languages-section">
    <div *ngFor="let language of languages" class="row languages">
      <span [ngStyle]="{ color: language.color }">
        {{ language.label }}
      </span>
    </div>
  </section>

  <section class="technologies-section">
    <span> These are the <br> technologies I’ve been using </span>
    <section class="skill-cards-section">
      <skill-card *ngFor="let skillSet of skillSets"
        [title]="skillSet.title"
        [items]="skillSet.skills"
      ></skill-card>

      <!-- <skill-card
        [title]="'Front-end Engineer Design'"
        [items]="skills"
      ></skill-card> -->
      <!--  -->
    </section>
  </section>
</section>
