@import '../../../styles.scss'; // Importa il tema personalizzato

.home-container {
  display: flex;
  flex-direction: column;
  gap: 250px;

  .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 40px;

    .content {

      // max-width: 50%;
      h1 {
        font-size: 3rem;
        font-weight: medium;
        color: mat-color($color-palette, 100);
      }

      p {
        margin: 1rem 0;
        font-size: 1.2rem;
        font-weight: lighter;
        line-height: 48px;
        color: mat-color($background-palette, 500);

        b {
          color: mat-color($color-palette, 50);
          font-weight: normal;
        }
      }

      .cta-container {
        display: flex;
        gap: 1rem;
        /* Spaziatura tra i pulsanti */
        margin-top: 2rem;
      }

      .cta-button {
        font-size: 1rem;
        font-weight: 600;
        padding: 12px 40px;
        border-radius: 100px;
        background-color: white;
        border: none;
        /* Arrotondamento dei bordi per un design moderno */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        /* Effetto ombra */
        display: flex;
        gap: 1rem;
        color: var(--background) !important;

        &.secondary {
          background-color: transparent;
          /* Colore scuro per il pulsante secondario */
          color: mat-color($purple-palette, 500);
          transition: all 0.3s ease;
          cursor: pointer;

          &:hover {
            color: mat-color($purple-palette, 300) // box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
          }
        }
      }

    }

    .profile-photo img {
      width: 350px;
      height: 350px;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  .languages-section {
    display: flex;
    flex-direction: column;
    gap: 120px;

    .languages {
      font-size: 90px;
      font-weight: 500;
      text-align: center;
      color: mat-color($purple-palette, 200);
    }
  }

  .technologies-section {
    font-size: 60px;
    line-height: 70px;

    .skill-cards-section {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      padding: 150px 0px;
      overflow: scroll;
      gap: 25px;
    }
  }


}

@media (max-width: 768px) {
  .home-container {

    .hero {

      padding: 0px 34px;

      .content {
        gap: 25px;

        h1 {
          font-size: 32px;
          text-align: center;
        }

        p {
          text-align: center;
        }

        .cta-container {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }

      .profile-photo {
        display: flex;
        justify-content: center;

        img {

          width: 212px;
          height: 162px;
          object-fit: cover;
          border-radius: 50%;
        }
      }

    }

    .languages-section {
      .languages {
        font-size: 40px;
      }
    }

    .technologies-section {
      font-size: 32px;
      line-height: 38px;
      text-align: center;

      .skill-cards-section {
        padding: 60px 20px;
      }
    }
  }

}

carousel {
  grid-column: 1 / -1;
  /* Il carousel si espande su tutta la colonna centrale */
  padding: 20px;
}
